/* main page */
ul{
    list-style: none;
}

ol{
    list-style-type: none;
    padding-right: 30px;
}

a{
    text-decoration: none;
    color: #3d3735;
}

#logo{
    font-family: 'Caveat', cursive;
    font-size: 60px;
    margin-left: 40px;
    color:#3b302c;
}

.main-nav{
    display: inline-block;
    font-family: 'Manrope', 'sans-serif';
    margin-top: 50px;
    margin-left: 30%;
}

.navlist{
    display: inline-block;
    padding-right: 30px;
    font-size: 18px;
}


.logo-nav{
    display: flex;
    margin-bottom: 20px;
    background-color: #EEE3CB;
    color: #040302;
}

/* About the creator  */
h2{
    font-size: 50px;
    font-family: 'Dmsans', sans-serif;
    color: #564747;
}

p{
    font-family: 'Manrope', sans-serif;
}

.webCreator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: rgb(221, 209, 200);
    margin-bottom: 5%;
}

.textCreator{
    width: 600px;
    margin-left: 30px;
    padding: 20px;

}

.img-creator{
    padding: 5px;
    width: 600px;
    margin-left: 5px;
}
.imgCreator{
    border-radius: 50%;
    width: 420px ;
    height:  400px;
    margin-left: 10%;
}

/* Diet Preferences */
.dietPref{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 8%;
}

.buttonDiet{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.title{
    width: 100%;
}
/* each button */
#gf{
    background-color: #ffc89d;
    border-radius: 50%;
    font-size: 30px
}
#df{
    font-size: 30px;
    background-color: #4ca09a;
    border-radius: 50%;
}
#v{
    background-color: #67a565;
    font-size: 30px;
    border-radius: 50%;

}
#vg{
    background-color: #e7df91;
    font-size: 30px;
    border-radius: 50%;
}

/* description */
.dietWords {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

}

/* Most Popular */
.mostPopular{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5%;

}

.title{
    width: 100%;
}

.img{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.labelDetail{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5%;
}

/* Social Medias */
.socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.socialMediaButton{
    display: flex;
    flex-direction: row;
}

#title{
    font-size: 30px;
}

li{
    padding-right: 30px;
}

svg:hover{
    color:#967E76;
}
